* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    padding: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dt,
dd,
a {
    font-family: sans-serif;
    margin: 16px 0;
}

p code {
    font-size: 16px;
    font-weight: bold;
}

dt {
    margin-bottom: 0;
}

dd {
    margin-top: 0;
}

ul,
ol {
    list-style: inside;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

dd {
    margin-left: 20px;
}

hr {
    width: 100%;
    border: 1px solid #898989;
    margin: 8px 0;
}

blockquote {
    margin: 8px 0;
}

address {
    margin: 8px 0;
}

code {
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: azure;
}

pre {
    font-size: 16px;
    width: fit-content;
    border-radius: 0 0 8px 8px;
    background-color: #0e0e0e;
    padding: 8px;
    position: relative;
}

.code {
    width: fit-content;
    position: relative;
    padding-top: 2px;
    border-radius: 8px;
    background-color: #2f2f2f;
}

.code::before {
    content: "CODE";
    position: relative;
    height: 24px;
    padding: 4px 12px;
    line-height: 24px;
    color: #898989;
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
    color: azure;
}

.code::after {
    font: var(--fa-font-solid);
    content: '\f121';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: azure;
    height: 24px;
    padding: 2px 12px;
    font-size: 14px;
    top: 0;
    right: 0;
}

a:link,
a:visited {
    margin: 8px 10px;
}