* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    padding: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dt,
dd,
a {
    font-family: sans-serif;
    margin: 16px 0;
}

p code {
    font-size: 16px;
    font-weight: bold;
}

dt {
    margin-bottom: 0;
}

dd {
    margin-top: 0;
}

ul,
ol {
    list-style: inside;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

dd {
    margin-left: 20px;
}

hr {
    width: 100%;
    border: 1px solid #898989;
    margin: 8px 0;
}

blockquote {
    margin: 8px 0;
}

address {
    margin: 8px 0;
}

code {
    margin: 0;
    padding: 0;
}

pre {
    font-size: 16px;
    width: fit-content;
    border: 1px solid #898989;
    border-radius: 8px;
    background-color: #fafafa;
    padding: 8px;
}

a:link,
a:visited {
    margin: 8px 10px;
}